<h1>Hello Angular {{title}}</h1>
<h1 class="{{title}}">Learning Angular</h1>
<h2>{{data}}</h2>
<p>{{getValue()}}</p>
<p>{{3*3}}</p>
<p>{{title=="blog"}}</p>
<p>{{title=="16"}}</p>

<hr>
<!-- <p>{{typeof title}}</p> -->
<!-- <p>{{nValue++}}</p> -->
<!-- <p>{{new title}}</p> -->
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country-list></app-country-list>


<!-- 
  Double curly braces is called interpolation.
  Fetching data from componet in html is called dynamic data.
  We can perform arithmetic operations using interpolation.
  We cannot assign value using interpolation, cannot check typeof and increment and decrement operators also dont work.
  new keyword also doesn't works.
-->